  body,html {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: black;
    font-weight: 200;
    line-height: 1;
    font-family: 'source-sans-pro', Helvetica;
  }


nav { 
    background-color: black;
    font-size: 20px;
    color: white;
    display: flex;
    align-self: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

nav > a {
    color: whitesmoke;
    text-decoration: none;
}

nav > a:hover {
     color: red; 
     cursor:pointer; 
}

.social-links {
    list-style-type: none;
    justify-content: flex-end; 
    padding-right: 2%;
}

.contact {
    padding-left: 2%;
    margin-right: auto;
}
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1.3fr 1.3fr 0.7fr 1fr;
    grid-template-rows: 3fr 3fr 3fr;
    gap: 1px 1px;
    grid-template-areas:
      "a a a a a"
      "b b b b b b"
      "c c c c c c";
    justify-content: left;  
  }

  .introduction  {
    padding: 20px 0px 0px 0px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .first-encounter {
    align-items: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
  }
  
  .letter {
    background-color: #0069b3;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    line-height: 1;
    font-family: 'source-sans-pro', Helvetica;
    font-weight: 200;
    cursor: pointer;
    transition: all .3s ease;
  }